<!DOCTYPE html>
<html>

<head>
	<title>AI Rap Generator</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
	<div class="welcome">
		<h1>AI Rap Generator</h1>
	</div>
	<div class="rap-container">
		<div class="bars">
			<% bars.forEach(bar => { %>
        <p class="bar"><%=bar%></p>
      <% }); %>
		</div>
		<form method="POST">
			<div class="button-container">
				<button type="submit" class="generate-button" formaction="/generaterap/markov">Spit Markov Bar</button>
				<button type="submit" class="generate-button" formaction="/generaterap/neuralnetwork">Spit Neural Network Bar</button>
			</div>
		</form>
	</div>
</body>

</html>