<!DOCTYPE html>
<html>

<head>
	<title>AI Rap Generator</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
	<div class="welcome">
		<h1>AI Rap Generator</h1>
	</div>
	<div class="rap-container">
		<div class="bars">
			<!-- <p class="bar"> <%= bars %> </p> -->
			<p class="bar">Ask me to spit some bars! My favorite rapper is Kendrick Lamar.</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
				<p class="bar">The way the world up when i got key to my dark thoughts</p>
		</div>
			<div class="button-container">
				<button class="generate-button">Spit Bars</button>
			</div>
		</div>
	</div>
</body>

</html>