.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.rap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 90vh;
}

.bars {
  flex-basis: 1;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

.button-container {
  flex-basis: 1;
}