body {
  background-color: #B2B2B2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex: 1;
}

.bars {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0 0 2px;
}

.bar {
  /* margin-bottom: 0; */
  line-height: 5px;
}

.generate-button {
  background-color: green;
  border: 1px green solid;
  padding: 0.5rem;
  border-radius: 2px;
}